@keyframes helperAnimation {
  0% { opacity: 0;}
  20% { opacity: 1;}
  80% { opacity: 1;}
  100% { opacity: 0;}
}
.trackerHelper {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  pointer-events: none;
  animation: helperAnimation 3000ms linear;
  animation-fill-mode: forwards;
  --size-multiplier: 2;
}
.trackerScrollIco {
  width: calc(5em * var(--size-multiplier));
  height: calc(2em * var(--size-multiplier));
  border: calc(0.25em * var(--size-multiplier)) solid #fb8138;
  border-radius: calc(40px * var(--size-multiplier));
  display: flex;
  align-items: center;
}
@keyframes dotAnimation {
  0% { transform: translateX(calc(3.5em * var(--size-multiplier)))}
  80% { transform: translateX(calc(1em * var(--size-multiplier))); opacity: 1;}
  100% { transform: translateX(calc(1em * var(--size-multiplier))); opacity: 0;}
}
.trackerScrollIcoDot {
  width: calc(0.75em * var(--size-multiplier));
  height: calc(0.75em * var(--size-multiplier));
  background-color: #fb8138;
  border-radius: 50%;
  animation: dotAnimation 1500ms ease-in-out infinite;
}
.trackerHelperText {
  font-family: 'bebas';
  font-size: 2em;
  color: #fff;
}